#order-container {
  margin: 0 300px 0 300px;
  padding: 20px 0 20px 0;
  background-color: rgb(243, 243, 243);
  margin: 5% 10% 5% 10%;
  border: 0.5px soild black;
  
}
.Personal-Detail{
  box-shadow: 20px;
}
.personal-info {
  margin-top: 5%;
  margin-bottom: 2%;
  
}

label {
  font-size: 15px;
  
}

.form-info {
  width: 60%;
  height: 30px;
  margin: 10px;
  font-family: 'Bodoni Moda', sans-serif;
}

#country {
  width: 60%;
  height: 35px;
  margin: 10px;
}
#fullName{
  margin-right: 3%;
}
#checkout-email {
  margin-right: 2%;
}
.control-input {
  width: 20px;
}
.payment-info {
  font-size: 15px;
}

.payment-heading {
  margin: 10px;
}
.payment-button {
  width: 150px;
  height: 40px;
  background-color: rgb(115, 148, 132) !important;
  font-family: 'Bodoni Moda', sans-serif;
}
.payment-button:hover {
  background-color: rgb(243, 243, 243) !important;
  color: black;
}

 /* for iPad */
@media only screen and (min-device-width: 820px) and (max-device-width: 1024px) {
  .personal-info, .payment-heading {
    font-size: 20px;
  }

 
} 

/* for mobile*/
 @media only screen and (min-device-width: 320px) and (max-device-width: 819px) {
  .personal-info, .payment-heading {
    font-size: 12px;
  }
  
   .form-info {
    width: 40%;
    height: 15px;
    font-size: 10px;
  } 
  label {
    font-size: 11px;
  }
  #country {
    width: 40%;
    height: 20px;
    font-size: 10px;
  }
  .payment-info {
    font-size: 10px;
  }
  .payment-button {
    width: 40%;
    height: 25px;
  }
}  
