.conatactus-conatiner {
  margin: 3%;
  border: 1px solid rgb(243, 243, 243);
  border-radius: 50px;
  box-shadow: 7px 6px rgb(243, 243, 243);
}

.heading-FAQ {
  color: rgb(82, 60, 47);
  margin: 2%;
}
.questions-container {
  color: rgb(201, 138, 104);
  line-height: 2rem;
}

.answers-container {
  color: rgb(82, 60, 47);
  margin-bottom: 1%;
}
.contact-para {
  color: rgb(201, 138, 104);
  margin: 2%;
}

.comDetailButton {
  margin: 4%;
  width: 20%;
  font-family: 'Bodoni Moda', sans-serif;

}

/* for iPad*/
@media only screen and (min-device-width: 820px) and (max-device-width: 1024px) {
  #infoContactPara {
    font-size: 15px;
  }
  .comDetailButton {
    margin: 2%;
  }
}

/* for mobile*/
@media only screen and (min-device-width: 360px) and (max-device-width: 819px) {
  .questions-answers-container {
    font-size: 10px;
    line-height: 0.75rem;
  }
  .comDetailButton {
    font-size: 10px;
    margin: 2%;
    width: 25%;
  }
}
