.main-section-container {
  display: flex;
  flex-direction: row;
}

.text-section {
  width: 40%;
  color: rgb(201, 138, 104);
  text-align: center;
  padding: 10% 5% 0 5%;
}
.text-section p {
  line-height: 2rem;
  padding: 1%;
}

.userName {
  font-size: 20px;
  color: rgb(82, 60, 47);
}
.img-section {
  width: 60%;
}
.img-section img {
  width: 100%;
  display: block;
}

.welcome-para {
  position: relative;
  color: white;
  font-size: 20px;
  margin-bottom: 5%;
  font-weight: bolder;
}
.welcome-para::before {
  content: "WELCOME TO SHOPPERS";
  width: 100%;
  color: rgb(201, 138, 104);
  position: absolute;
  top: 0;
  bottom: 0.5rem;
  left: 0;
  border-right: 0.1rem solid rgb(201, 138, 104);
  animation: slide 10s linear infinite;
  -webkit-animation: slide 3s linear infinite;
  overflow: hidden;
}
@keyframes slide {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* for iPad*/
@media only screen and (min-device-width: 820px) and (max-device-width: 1024px) {
  .text-section p {
    line-height: 1.5rem;
    font-size: 13px;
  }
}

/* for mobile*/
@media only screen and (min-device-width: 360px) and (max-device-width: 819px) {
  .text-section {
    font-size: 8px;
  }
  .text-section p {
    line-height: 1rem;
  }
  .userName {
    font-size: 12px;
  }
  .img-section img {
    height: 100%;
  }
  .marquee-text {
    height: 40px;
  }
  .welcome-para {
    font-size: 8px;
    
  }
}
