.body-container-login {
  background-image: url("../../../public/images/cover.jpeg");
  background-repeat: no-repeat;
  /* background-size: 1453px; */
  background-size: 100%;
  height: 750px;
  position: relative;
  
}

.navbar-wrapper-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  height: 35px;
  padding-right: 20px;
  background-color: rgb(243, 243, 243);
}

.login-form {
  border: 0.5px solid black;
  background-color: white;
  margin: 5% 0 0 2%;
  padding: 4% 2% 0 2%;
  height: 40%;
  width: 25%;
  position: absolute;
  z-index: 1;
  color: rgb(82, 60, 47);
}

.login-heading {
  padding-bottom: 20px;
  font-size: 20px;
}

.U_Name_Login, .U_password_Login  {
  width: 60%;
  height: 8%;
  font-size: 15px;
  margin-top: 8%;
  font-family: 'Bodoni Moda', sans-serif;
}

.login-button {
  width: 40%;
  height: 10%;
  font-size: 15px;
  margin-top: 10%;
  font-family: 'Bodoni Moda', sans-serif;
}

#nameLogin {
  margin-right: 2%;
  font-family: 'Bodoni Moda', sans-serif;
}
#passwordLogin {
  margin-left: 4%;
  font-family: 'Bodoni Moda', sans-serif;
}

/* for iPad*/
 @media only screen and (min-device-width: 820px) and (max-device-width: 1024px) {
  
  .login-form {
    height: 25%;
    width: 20%;
  }
  .U_Name_Login, .U_password_Login  {
    font-size: 11px;
  }
  #nameLogin, #passwordLogin {
    font-size: 11px;
  }
  #passwordLogin {
    margin-right: 2%;
  }
  .login-button {
    font-size: 11px;
  }
 }


/* for mobile*/
 @media only screen and (min-device-width: 360px) and (max-device-width: 819px) {
 
  .navbar-container-login {
    font-size: 10px;
  }
  .login-form {
    width: 20%;
    height: 20%;
  }
  .U_Name_Login, .U_password_Login  {
    font-size: 6px;
    height: 8%;
    margin: 0;
    
  }
  .login-heading {
    font-size: 10px;
    padding: 0;
  }
  #nameLogin, #passwordLogin {
    font-size: 7px;
  }
 
  .login-button {
    font-size: 5.5px;
    margin:0;
  }
  
  
  
  
} 
