.body-container-signup {
    background-image: url("../../../public/images/cover.jpeg"); 
    background-repeat: no-repeat;
    background-size: 1453px;
    height: 750px;
    position: relative;
  }
  
  .navbar-wrapper-signup {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    height: 35px;
    padding-right: 20px;
    background-color: rgb(243, 243, 243);
  }
  .signup-form {
    border: 1px solid black;
    background-color: white;
    margin: 80px 0 0 50px;
    padding: 50px 20px 0 20px;
    height: 350px;
    width: 400px;
    position: absolute;
    z-index: 1;
    color: rgb(82, 60, 47);
  }
  
  .signup-heading {
    padding-bottom: 20px;
    font-size: 20px;
  }
  
  .signup-text {
    width: 200px;
    height: 30px;
    font-size: 15px;
    margin-top: 25px;
  }
  
  .signup-button {
    width: 100px;
    height: 30px;
    font-size: 15px;
    margin-top: 30px;
  }
  
  .account-message {
    margin-top: 30px;
  }
  
  .signup-form{
    height: 380px;
  }
  
  /* for iPad*/
  @media only screen and (min-device-width: 820px) and (max-device-width: 1024px) {
    .navbar-container-signup {
      width: inherit;
    }
    .body-container-signup {
      width: inherit;
      
    }
    .signup-form {
      height: 480px;
    }
  }
  /* for mobile*/
  @media only screen and (min-device-width: 360px) and (max-device-width: 819px) {
    .body-container-signup {
      width: 864px;
    }
    .navbar-container-signup {
      width: 864px;
    }
  
    .signup-form {
      width: 250px;
      
    }
  }