* {
  text-align: center;
}
.thankyou-container {
  margin: 5% 5% 5% 5%;
  
  
}
.thankyou-details-container {
  border: 1px solid rgb(243, 243, 243);
  border-radius: 50px;
  box-shadow: 6px 5px rgb(243, 243, 243);
  padding: 5%;
}

.thankyou-heading {
  color: rgb(201, 138, 104);
}

.U_Name {
  font-size: 30px;
}

.details-div {
  color: rgb(82, 60, 47);
  font-weight: 900;
  line-height: 1.rem;
}

/* for ipad */

@media only screen and (min-device-width: 820px) and (max-device-width: 1024px) {
  .U_Name {
    font-size: 15px;
  }
}

/* for mobile*/
@media only screen and (min-device-width: 360px) and (max-device-width: 819px) {
  .U_Name {
    font-size: 12px;
  }

  .details-div {
    line-height: 1rem;
  }
  .thankyou-details-container {
    border-radius: 30px;
    box-shadow: 5px 3px rgb(224, 214, 203);
  }
}
